$TTL 86400
@   IN SOA  ns01.lab.local. admin.lab.local. (
                {{ ansible_date_time.date | replace('-','') }}01 ; serial
                3600       ; refresh
                1800       ; retry
                604800     ; expire
                86400 )    ; minimum
@    IN NS    dns01.lab.local.
dns01      IN  A   192.168.56.11
web01   IN A    192.168.56.12
db01    IN A    192.168.56.13
client01 IN A   192.168.56.14
monitor01  IN  A   192.168.56.15
