modules:
  http_2xx:
    prober: http
    timeout: 5s
    http:
      valid_status_codes: [200]
      method: GET

  dns_lab:
    prober: dns
    timeout: 5s
    dns:
      query_name: "web01.lab.local"
      query_type: "A"
      transport_protocol: "udp"
      preferred_ip_protocol: "ip4"
      valid_rcodes:
        - NOERROR

  tcp_connect:
    prober: tcp
    timeout: 5s